<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @picture.img_url %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= render 'comments/form', comment: @comment %>
<%= link_to 'Back', pictures_path %>
